.input_form_wrapper {
  margin-left: 15px;
  margin-bottom: 25px;
}

.input_form {
  width: 560px;
  height: 22px;

  &_content {
    display: flex;
    justify-content: space-between
  }
}

.input_label {
  display: inline;
  bottom: 15px;
  position: relative;
  &.count {
    padding-right: 70px;
  }
}
