.input_form_wrapper_bio {
  margin-bottom: 100px;
  padding: 0 20px;
}

.input_form_wrapper {
  margin-bottom: 65px;
  padding: 0 20px;
}

.input_form {
  width: 540px;
  height: 22px;

  &_content {
    display: flex;
    justify-content: space-between
  }
}

.input_label {
  display: inline;
  top: 15px;
  position: relative;
  &.count {
    padding-right: 60px;
  }
}
