server:
    port: 8761

spring:
    application:
        name: eureka-server
    zipkin:
        base-url: http://${ZIPKIN_HOST:localhost}:9411

eureka:
    client:
        service-url:
            defaultZone: http://${EUREKA_HOST:localhost}:8761/eureka
        fetch-registry: false
        register-with-eureka: false
    instance:
        hostname: ${EUREKA_HOST:localhost}
