server:
    port: 8022

spring:
    application:
        name: websocket-service
    zipkin:
        base-url: http://localhost:9411
eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka
        fetch-registry: true
        register-with-eureka: true
