server:
    port: 8022

spring:
    application:
        name: websocket-service
    zipkin:
        base-url: http://${ZIPKIN_HOST:localhost}:9411
eureka:
    client:
        service-url:
            defaultZone: http://${EUREKA_HOST:localhost}:8761/eureka
        fetch-registry: true
        register-with-eureka: true
    instance:
        hostname: ${EUREKA_HOST:localhost}
